.Patinfomaincontainer{
    position: fixed;
    top: 140px;
    left: 255px;
    height: 100%;
    width: 100%;
    background-color:#16202A;
}

.Patientid {
    position: absolute;
    top: 25px;
    left: 35px;
    flex: 15;
    font-size: 19px;
    color: #FFFDD0;
}

.patientid {
    position: absolute;
    top: 25px;
    left: 180px;
    flex: 15;
    font-size: 19px;
    color: #2EEE9D;
}

.Patientname {
    position: absolute;
    top: 65px;
    left: 35px;
    flex: 15;
    font-size: 19px;
    color: #FFFDD0;
}

.patientname {
    position: absolute;
    top: 65px;
    left: 180px;
    flex: 15;
    font-size: 19px;
    color: #2EEE9D;
}

.Patientdob {
    position: absolute;
    top: 105px;
    left: 35px;
    flex: 15;
    font-size: 19px;
    color: #FFFDD0;
}

.patientdob {
    position: absolute;
    top: 105px;
    left: 180px;
    flex: 15;
    font-size: 19px;
    color: #2EEE9D;
}

.Patientgender {
    position: absolute;
    top: 145px;
    left: 35px;
    flex: 15;
    font-size: 19px;
    color: #FFFDD0;
}

.patientgender {
    position: absolute;
    top: 145px;
    left: 180px;
    flex: 15;
    font-size: 19px;
    color: #2EEE9D;
}

.Patientstatus {
    position: absolute;
    top: 185px;
    left: 35px;
    flex: 15;
    font-size: 19px;
    color: #FFFDD0;
}

.patientstatus {
    position: absolute;
    top: 185px;
    left: 180px;
    flex: 15;
    font-size: 19px;
    color: #2EEE9D;
}

.patbackbutton {
    position:absolute;
    top: 50%;
    left: 27%;
    border-radius: 25px;
    padding: 15px 20px;
    background-color: #2F4052;
    color: #2EEE9D;
    font-size: 22px;
    border: none;
    cursor: pointer;
    width: 140px;
    line-height: 15px;
    text-align: center;
    transition: all 0.3s ease;
}

.patbackbutton:hover {
    background-color: #808080;
}